@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body {
  background-color: #010409 !important;
  color: white !important;
}
/* Navbar */
header {
  background-color: #161b22;
}
.circle-link {
  display: inline-block;
  width: 50px; /* adjust the size as needed */
  height: 50px; /* adjust the size as needed */
  border-radius: 50%;
  text-align: center;
  background-color: #f8f9fa; /* set initial background color */
  transition: background-color 0.3s ease;
  margin-right: 15px;
}

.circle-link:hover {
  background-color: #238636; /* set hover background color */
}

.circle-link a {
  display: inline-block;
  line-height: 50px; /* adjust the line-height to vertically center the text */
  color: white; /* set text color */
  text-decoration: none; /* remove underline */
}
.nav {
  padding: 2px 2vw;
}

.search-box {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #a9a9a9;
  text-transform: capitalize;
  background: none;
  color: white;
  outline: none;
  margin-right: 5px;
}
.search-btn {
  width: 40%;
  height: 40px;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #238636;
  font-size: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 10px;
}
.search-btn:hover {
  background: #40da5e;
}
.search-box::placeholder {
  color: #a9a9a9;
}

/* .nav-items a {
  margin-left: 0;
} */
.nav-items a img {
  width: 30px;
}
ul a img {
  margin: 10px;
  width: 40px;
}
ul a img:hover {
  margin: 10px;
  /* width: 50px; */
  color: green;
  background-color: green;
  background: green;
}

/* Media Queries */
@media (max-width: 767px) {
  /* Adjustments for smaller screens */
  .store-title {
    justify-content: center;
  }
  .store-title h2 {
    font-size: 18px;
  }
  .search {
    max-width: 100%; /* Allow full width on smaller screens */
  }
}
/* End of navbar */
/* Links */
.links-container {
  padding: 3px 3vw;
  list-style: none;
}

.link {
  padding: 0 5px;
  margin: 0 5px;
  color: white;
  transition: 0.5s;
}

.link:hover {
  /* background-color: #238636 ; */
  color: #238636 !important;
}
/* End of links */

/* Hero section */
.hero-section {
  width: 100%;
  height: 350px;
  background-size: cover;
  justify-content: center;
  background-repeat: no-repeat;
}
.hero-section .sub-heading {
  font-size: 30px;
}
#bg-image {
  background-image: url("https://i.postimg.cc/TYgMGrLL/celtic.png");
}

.hero-button {
  background: #238636;
  color: white;
  border-radius: 7% !important;
  width: 8em;
  height: 2.7em;
  border-style: none;
}
.hero-button :hover {
  background: #238636 !important;
}
@media (max-width: 767px) {
  /* Adjustments for smaller screens */
  .hero-section .sub-heading {
    font-size: 18px;
  }
}
/* Media Query */
@media screen and (max-width: 767px) {
  .products-link {
    display: none;
  }
  .home-link {
    display: none;
  }
  .circle-link {
    display: none;
  }

  h3 {
    display: none;
  }
  .search-btn {
    display: none;
  }
  .nav {
    justify-content: center;
  }
  .search-box {
    display: none;
  }
}
/* End of hero section */
/* Products */

.top-picks-items {
  border: 1px solid white;
  padding: 5px;
  text-align: center;
  border-radius: 5%;
}
.top-picks-img {
  height: 186px;
  width: 100%;
  padding: 5px;
  border-radius: 10% !important;
  object-fit: scale-down !important;
}
.btn-see-more {
  background: #232b36 !important;

  color: white !important;
  border-radius: 7% !important;
  width: 8em;

  border-style: none;
}
.btn-add-to-cart {
  background: #238636 !important;
  color: white !important;
  border-radius: 7% !important;
  width: 8em !important;

  border-style: none;
}
.img-container {
  width: 100% !important;
  height: 190px !important;
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
  object-fit: cover;
}
/* Existing CSS styles */

.popup {
  display: none; /* Hide popup by default */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #010409;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 60%;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* End of existing CSS styles */

/* Media quries */
/* Media Query for 300px screen width */
@media (max-width: 300px) {
  .top-picks-items {
    min-width: 250px !important;
    margin: 25px;
  }
  .btn-add-to-cart {
    margin-bottom: 10px;
  }
}
.top-picks-items:hover {
  background: #161b22 !important;
}

/* End of products */
/*  footer  */

.email {
  margin: 20px !important;
}
.send-btn {
  background: #0d6efd;
  color: white;
  border-radius: 7% !important;
  width: 8em;
  height: 2.7em;
  border-style: none;

  margin: 20px !important;
}

section {
  background-color: #010409 !important;
}
#Facebook:hover {
  color: rgb(2, 8, 120) !important;
}
#Twitter:hover {
  color: skyblue !important;
}
#Instagram:hover {
  color: purple !important;
}
#Github:hover {
  color: green !important;
}
#Youtube:hover {
  color: red !important;
}
#LinkedIn:hover {
  color: blue !important;
}
.footer-container a {
  color: white !important;
  margin: 5px !important ;
  padding: 5px !important;
  font-size: x-large !important;
}
.social-icons a {
  color: white !important;
  margin: 5px !important ;
  padding: 5px !important;
  font-size: x-large !important;
}
/* footer */
